{% extends 'base.html' %}
{% block titulo %}
  Bienvenido {{ session['usuario']['nombre'] }}
{% endblock titulo %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
      <a class="navbar-brand" style="font-family: 'Anton', sans-serif;">
          Bienvenido a Compartision de Recetas de Cocina, {{ session['usuario']['nombre'] }}
      </a>
      <div class="d-flex gap-3">
        <a href="{{ url_for('logout') }}" class="btn btn-danger">Cerrar Sesión</a>
      </div>
  </div>
</nav>

{% endblock navbar %}

{% block content %}
  {% if recetas %}
    <div class="container mt-4" style="background-image: url('imagen1.jpg'); background-size: cover; background-repeat: no-repeat;">
      <h2 class="mb-4">Recetas</h2>
      <table class="table table-bordered table-striped text-center">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Ingredientes</th>
            <th scope="col">Pedidos</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          {% for receta in recetas %}
            <tr>
              <td>{{ receta['modelo'] }}</td>
              <td>{{ receta['ingredientes'] }}</td>
              <td>{{ receta['user_id'] }}</td>
              <td>
                <a href="/show/{{ receta['id'] }}" class="btn btn-primary btn-xs d-block">Mostrar</a>
                <!-- El botón "Editar" ha sido eliminado -->
                <a href="/delete/{{ receta['id'] }}" class="btn btn-danger btn-xs d-block">Eliminar</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <a href="/new" class="btn btn-success float-end">Agregar Receta</a>
    </div>
    
  {% else %}
    <div class="container mt-4" style="background-image: url('imagen1.jpg'); background-size: cover; background-repeat: no-repeat;">
      <h1>No Hay Datos</h1>
      <a href="/new" class="btn btn-primary">Agregar Receta</a>
    </div>
  {% endif %}
  <div style="position: relative;">
    <div style="position: fixed; top: 60px; left: 0; right: 0; bottom: 0; z-index: -1;">
        <div style="background-image: url('/static/imagen4.jpg'); background-size: cover; background-repeat: no-repeat; width: 100%; height: 100%;"></div>
    </div>
  </div>
{% endblock content %}
